.App{
    color: #776e65;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr minmax(400px,1fr) 1fr;
    grid-template-areas: 'instructions game scoreboard';
    gap: 1em;
    padding: 1em;
    box-sizing: border-box;
    background-color:whitesmoke;
}

.instructions{
    grid-area: instructions;
    background-color: rgba(37, 95, 203, 0.301);
}

.scoreboard{
    grid-area: scoreboard;
    background-color: rgba(37, 95, 203, 0.301);
}

@media only screen and (max-width: 600px) {
    .App {
        grid-template-columns: 1fr;
        height: 300vh;
        grid-template-rows: repeat(3,1fr);
        grid-template-areas: 
        'game'
        'scoreboard'
        'instructions';
    }
  }